* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pelis {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    width: 50rem;
}

#showSelection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    width: 50rem;
    background-color: gray;
}

.titlePicture {
    text-align: center;
}

.titlePicture img {
    width: 100%;
}

.title {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}